{{#partial "content"}}

    <h2>You have successfully edited the Hero</h2>
    <button class="btn btn-outline-primary"><a href="/">SEE YOUR HEROS</a></button>
    <i class="fas fa-swords" style="color:black;"></i>
{{/partial}}

{{>layout.hbs}}